/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #555;
}

#message {
    font-style: italic;
}

/* Estilos para a seção de imagem de fundo */
.background-image {
    position: relative;
    width: 100%;
    height: 400px; /* Altura da imagem de fundo */
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adicione uma opacidade à overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    form {
        flex-direction: column;
    }

    input[type="email"] {
        width: calc(100% - 20px); /* Leva em consideração o espaçamento margin-right */
        margin: 0 0 10px 0; /* Remove o margin-right e adiciona margin-bottom */
    }

    button {
        padding: 8px 16px; /* Reduz o padding dos botões */
        margin: 0 0 10px 0; /* Adiciona margin-bottom */
    }

    .button-container {
        flex-direction: column; /* Mostra os botões verticalmente em dispositivos móveis */
    }
}
